# Django
SECRET_KEY=change-me-in-prod-please-do-not-use-this-default
DEBUG=True
ENVIRONMENT=dev
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=smartscheduler
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Celery (placeholder, sprint futura)
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
